In [1]:
import pandas as pd
import json

In [5]:
chunk_size = 10000  # Process 10,000 records at a time
chunks = []

with open('yelp_academic_dataset_review.json', 'r') as f:
    reviews = []
    for i, line in enumerate(f):
        reviews.append(json.loads(line))
        
        # When chunk_size is reached, convert to DataFrame and store
        if (i + 1) % chunk_size == 0:
            chunks.append(pd.DataFrame(reviews))
            reviews = []  # Clear memory for next chunk
    
    # Handle any remaining records (less than a full chunk)
    if reviews:
        chunks.append(pd.DataFrame(reviews))

# Combine all chunks into final DataFrame
reviews_df = pd.concat(chunks, ignore_index=True)

In [7]:
# Convert to DataFrame
reviews_df = pd.DataFrame(reviews)

                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ

   stars  useful  funny  cool  \
0    3.0       0      0     0
1    5.0       1      0     1
2    3.0       0      0     0
3    5.0       1      0     1
4    4.0       1      0     1

                                                text                 date
0  If you decide to eat here, just be aware it is...  2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year...  2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm...  2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo...  2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up...  2017-01-14 20:54:15
6990280

In [24]:
# Get 5 random reviews
random_reviews = balanced_reviews_df.sample(n=5)

# Print each review text
for i, (index, row) in enumerate(random_reviews.iterrows()):
    print(f"\nRandom review #{i+1} (index {index}):")
    print(f"Rating: {row['stars']} stars")
    print(row['text'])
    print("-" * 50)

Random review #1 (index 941):
Rating: 3.0 stars
2 or 3 stars....hmmmm....

Ate their food and drank their coffee maaaaany times. And I liked it. I think I would do it more often if it wasn't for the super long wait.... If I want a Bfast Sandwich & Coffed in the morning on my way to work I'd like it to be out and ready to go in a reasonable time. If I want it from Rocket Cat then I have to plan to add at least 30min extra for then to prepare it. And that barely ever happens these days with all the other places in the hood providing faster service.

The other thing is the service and the atmosphere. They are either miserable working there or they all undergo never ending personal issues, bc they are not very friendly or nice and at times they can be very rude. What's up with that???

Rocket Cat, thought you wanted to be the cool cat?
--------------------------------------------------

Random review #2 (index 685):
Rating: 2.0 stars
Took forever to get our BBQ tacos and chicken burrito.  Mediocre, overpriced food.  I will stick to Chipotle.  Better food for less money.
--------------------------------------------------

Random review #3 (index 1602):
Rating: 5.0 stars
An absolutely amazingly quaint, shabby chic place for amazing brunch.

Their housemade bloody mix is amazing! Lots of spice and horseradish.

Ordered the brown rice kimchi bowl, thinking it was going to be less watery, because it was actually a porridge. It was the most homey, comforting, hearty, organic, fresh thing I think I have ever ordered anywhere in any restaurant. It comes with a poached egg, lentils, avocado.....all the goods for an excellent breakfast.

Service was also really hands on and lovely.

Definitely a go to
--------------------------------------------------

Random review #4 (index 1447):
Rating: 4.0 stars
Really good garlic chicken dish. Would recommend . Not too pricey either and their beer is cheap.
--------------------------------------------------

Random review #5 (index 1452):
Rating: 4.0 stars
Something I have learned about Philadelphia is that it's a good idea to have one or two go-to places in every neighborhood for the categories of: booze, brunch, coffee, and a quick, cheap meal. The one I struggle with the most is brunch, because if there's one thing Philadelphia loves, it is brunch. This makes it hard to find a spot where you can go on short notice, not have to wait for hours to be seated, and still get consistently good food. EGG is a godsend of a brunch spot for me - in my neighborhood and therefore easily walkable, accessible (see: not waiting for a seat for days), good food, and good prices. EGG was my Room of Requirement: I needed it one day, and it was there. Definitely going to have to go back for this dollar oyster night I have heard so much about!
--------------------------------------------------

In [ ]:
chunk_size = 5000  # Adjust based on your system's memory
chunks = []

with open('../data/Yelp_JSON/yelp_dataset/yelp_academic_dataset_user.json', 'r') as f:
    users = []
    for i, line in enumerate(f):
        users.append(json.loads(line))
        
        # When we reach chunk_size, add to chunks and reset users
        if (i + 1) % chunk_size == 0:
            chunks.append(pd.DataFrame(users))
            users = []  # Reset for next chunk
    
    # Add any remaining users
    if users:
        chunks.append(pd.DataFrame(users))

# Concatenate all chunks
user_df = pd.concat(chunks, ignore_index=True)

# Preview the DataFrame
print(user_df.shape)
print(user_df.columns)

In [11]:
chunk_size = 5000  # Adjust based on your system's memory
chunks = []

with open('../data/Yelp_JSON/yelp_dataset/yelp_academic_dataset_business.json', 'r') as f:
    businesses = []
    for i, line in enumerate(f):
        businesses.append(json.loads(line))
        
        # When we reach chunk_size, add to chunks and reset businesses
        if (i + 1) % chunk_size == 0:
            chunks.append(pd.DataFrame(businesses))
            businesses = []  # Reset for next chunk
    
    # Add any remaining businesses
    if businesses:
        chunks.append(pd.DataFrame(businesses))

# Concatenate all chunks
business_df = pd.concat(chunks, ignore_index=True)

# Preview the DataFrame
print(business_df.head())
print(business_df.columns)

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery

                           address           city state postal_code  \
0           1616 Chapala St, Ste 2  Santa Barbara    CA       93101
1  87 Grasso Plaza Shopping Center         Affton    MO       63123
2             5255 E Broadway Blvd         Tucson    AZ       85711
3                      935 Race St   Philadelphia    PA       19107
4                    101 Walnut St     Green Lane    PA       18054

    latitude   longitude  stars  review_count  is_open  \
0  34.426679 -119.711197    5.0             7        0
1  38.551126  -90.335695    3.0            15        1
2  32.223236 -110.880452    3.5            22        0
3  39.955505  -75.155564    4.0            80        1
4  40.338183  -75.471659    4.5            13        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
Index(['business_id', 'name', 'address', 'city', 'state', 'postal_code',
       'latitude', 'longitude', 'stars', 'review_count', 'is_open',
       'attributes', 'categories', 'hours'],
      dtype='object')

In [12]:
# Filter businesses in San Francisco
sf_businesses = business_df[business_df['state'] == 'CA']

# Preview the filtered DataFrame
print(f"Number of San Francisco businesses: {len(sf_businesses)}")
print(sf_businesses.head())

Number of San Francisco businesses: 5203
                business_id                         name  \
0    Pns2l4eNsfO8kk83dixA6A     Abby Rappoport, LAC, CMQ
26   noByYNtDLQAra9ccqxdfDw                          H&M
85   IDtLPgUrqorrpqSLdfMhZQ         Helena Avenue Bakery
91   nUqrF-h9S7myCcvNDecOvw         Iron Horse Auto Body
120  bYjnX_J1bHZob10DoSFkqQ  Tinkle Belle Diaper Service

                    address           city state postal_code   latitude  \
0    1616 Chapala St, Ste 2  Santa Barbara    CA       93101  34.426679
26         827-833 State St  Santa Barbara    CA       93101  34.420209
85    131 Anacapa St, Ste C  Santa Barbara    CA       93101  34.414445
91           825 Cacique St  Santa Barbara    CA       93103  34.419620
120                          Santa Barbara    CA       93101  34.420334

      longitude  stars  review_count  is_open  \
0   -119.711197    5.0             7        0
26  -119.700460    3.0            24        1
85  -119.690672    4.0           389        1
91  -119.677032    4.5            32        1
120 -119.710749    5.0            17        1

                                            attributes  \
0                        {'ByAppointmentOnly': 'True'}
26   {'BusinessAcceptsCreditCards': 'True', 'BikePa...
85   {'RestaurantsTakeOut': 'True', 'NoiseLevel': '...
91   {'BusinessAcceptsCreditCards': 'True', 'WiFi':...
120  {'BusinessAcceptsCreditCards': 'True', 'ByAppo...

                                            categories  \
0    Doctors, Traditional Chinese Medicine, Naturop...
26   Women's Clothing, Accessories, Children's Clot...
85   Food, Restaurants, Salad, Coffee & Tea, Breakf...
91                      Towing, Automotive, Body Shops
120  Parenting Classes, Maternity Wear, Fashion, Ed...

                                                 hours
0                                                 None
26   {'Monday': '11:0-18:0', 'Tuesday': '11:0-18:0'...
85   {'Monday': '0:0-0:0', 'Tuesday': '8:0-14:0', '...
91   {'Monday': '0:0-0:0', 'Tuesday': '8:0-17:0', '...
120  {'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...

In [17]:
# Count the number of unique cities
city_counts = business_df['city'].value_counts()
print(city_counts.head(10))

city
Philadelphia     14569
Tucson            9250
Tampa             9050
Indianapolis      7540
Nashville         6971
New Orleans       6209
Reno              5935
Edmonton          5054
Saint Louis       4827
Santa Barbara     3829
Name: count, dtype: int64

In [19]:
# Filter businesses in Philadelphia
philly_businesses = business_df[business_df['city'] == 'Philadelphia']

# Preview the filtered DataFrame
print(f"Number of Philadelphia businesses: {len(philly_businesses)}")
print(philly_businesses.head())

# Filter for businesses where 'Restaurants' appears in the categories
philly_businesses_with_categories = philly_businesses.dropna(subset=['categories'])
philly_restaurants = philly_businesses_with_categories[
    philly_businesses_with_categories['categories'].str.contains('Restaurants', case=False, na=False)
]

# Preview the filtered restaurants
print(f"Number of restaurants in Philadelphia: {len(philly_restaurants)}")
print(philly_restaurants.head())

# Get the business IDs for Philadelphia restaurants
philly_restaurant_ids = set(philly_restaurants['business_id'].values)

# Filter reviews for only Philadelphia restaurants
philly_restaurant_reviews = reviews_df[reviews_df['business_id'].isin(philly_restaurant_ids)]

print(f"Number of reviews for Philadelphia restaurants: {len(philly_restaurant_reviews)}")

Number of Philadelphia businesses: 14569
               business_id                name        address          city  \
3   MTSW4McQd7CbVtyjqoe9mw  St Honore Pastries    935 Race St  Philadelphia
15  MUTTqe8uqyMdBl186RmNeA            Tuna Bar    205 Race St  Philadelphia
19  ROeacJQwBeh05Rqg7F6TCg                 BAP  1224 South St  Philadelphia
28  QdN72BWoyFypdGJhhI5r7g             Bar One   767 S 9th St  Philadelphia
31  Mjboz24M9NlBeiOJKLEd_Q    DeSandro on Main   4105 Main St  Philadelphia

   state postal_code   latitude  longitude  stars  review_count  is_open  \
3     PA       19107  39.955505 -75.155564    4.0            80        1
15    PA       19106  39.953949 -75.143226    4.0           245        1
19    PA       19147  39.943223 -75.162568    4.5           205        1
28    PA       19147  39.939825 -75.157447    4.0            65        0
31    PA       19127  40.022466 -75.218314    3.0            41        0

                                           attributes  \
3   {'RestaurantsDelivery': 'False', 'OutdoorSeati...
15  {'RestaurantsReservations': 'True', 'Restauran...
19  {'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...
28  {'Smoking': 'u'no'', 'NoiseLevel': 'u'average'...
31  {'RestaurantsReservations': 'False', 'Caters':...

                                           categories  \
3   Restaurants, Food, Bubble Tea, Coffee & Tea, B...
15                  Sushi Bars, Restaurants, Japanese
19                                Korean, Restaurants
28  Cocktail Bars, Bars, Italian, Nightlife, Resta...
31                    Pizza, Restaurants, Salad, Soup

                                                hours
3   {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
15  {'Tuesday': '13:30-22:0', 'Wednesday': '13:30-...
19  {'Monday': '11:30-20:30', 'Tuesday': '11:30-20...
28  {'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ...
31  {'Tuesday': '17:0-21:30', 'Wednesday': '17:0-1...
Number of restaurants in Philadelphia: 5852
               business_id                name        address          city  \
3   MTSW4McQd7CbVtyjqoe9mw  St Honore Pastries    935 Race St  Philadelphia
15  MUTTqe8uqyMdBl186RmNeA            Tuna Bar    205 Race St  Philadelphia
19  ROeacJQwBeh05Rqg7F6TCg                 BAP  1224 South St  Philadelphia
28  QdN72BWoyFypdGJhhI5r7g             Bar One   767 S 9th St  Philadelphia
31  Mjboz24M9NlBeiOJKLEd_Q    DeSandro on Main   4105 Main St  Philadelphia

   state postal_code   latitude  longitude  stars  review_count  is_open  \
3     PA       19107  39.955505 -75.155564    4.0            80        1
15    PA       19106  39.953949 -75.143226    4.0           245        1
19    PA       19147  39.943223 -75.162568    4.5           205        1
28    PA       19147  39.939825 -75.157447    4.0            65        0
31    PA       19127  40.022466 -75.218314    3.0            41        0

                                           attributes  \
3   {'RestaurantsDelivery': 'False', 'OutdoorSeati...
15  {'RestaurantsReservations': 'True', 'Restauran...
19  {'NoiseLevel': 'u'quiet'', 'GoodForMeal': '{'d...
28  {'Smoking': 'u'no'', 'NoiseLevel': 'u'average'...
31  {'RestaurantsReservations': 'False', 'Caters':...

                                           categories  \
3   Restaurants, Food, Bubble Tea, Coffee & Tea, B...
15                  Sushi Bars, Restaurants, Japanese
19                                Korean, Restaurants
28  Cocktail Bars, Bars, Italian, Nightlife, Resta...
31                    Pizza, Restaurants, Salad, Soup

                                                hours
3   {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
15  {'Tuesday': '13:30-22:0', 'Wednesday': '13:30-...
19  {'Monday': '11:30-20:30', 'Tuesday': '11:30-20...
28  {'Monday': '16:0-0:0', 'Tuesday': '16:0-0:0', ...
31  {'Tuesday': '17:0-21:30', 'Wednesday': '17:0-1...
Number of reviews for Philadelphia restaurants: 687289

In [20]:
print(philly_restaurant_reviews.head())

                 review_id                 user_id             business_id  \
3   AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
5   JrIxlS1TzJ-iCu79ul40cQ  eUta8W_HdHMXPzLBBZhL1A  04UD14gamNjLY0IDYVhHJg
13  8JFGBuHMoiNDyfcxuWNtrA  smOvOajNG0lS4Pq7d8g4JQ  RZtGWDLCAtuipwaZ-UfjmQ
16  oyaMhzBSwfGgemSGuZCdwQ  Dd1jQj7S-BFGqRbApFzCFw  YtSqYv1Q_pOltsVPSx54SA
19  Xs8Z8lmKkosqW5mw_sVAoA  IQsF3Rc6IgCzjVV9DE8KXg  eFvzHawVJofxSnD7TgbZtg

    stars  useful  funny  cool  \
3     5.0       1      0     1
5     1.0       1      2     1
13    4.0       0      0     0
16    5.0       0      0     0
19    5.0       0      0     0

                                                 text                 date
3   Wow!  Yummy, different,  delicious.   Our favo...  2015-01-04 00:01:03
5   I am a long term frequent customer of this est...  2015-09-23 23:10:31
13  Good food--loved the gnocchi with marinara\nth...  2009-10-14 19:57:14
16  Tremendous service (Big shout out to Douglas) ...  2013-06-24 11:21:25
19  My absolute favorite cafe in the city. Their b...  2014-11-12 15:30:27

In [21]:
philly_restaurant_reviews.to_pickle('philly_restaurant_reviews.pkl')

In [22]:
star_distribution = philly_restaurant_reviews['stars'].value_counts().sort_index()
print("Original star rating distribution:")
print(star_distribution)

Original star rating distribution:
stars
1.0     66624
2.0     57480
3.0     91702
4.0    194366
5.0    277117
Name: count, dtype: int64

In [23]:
# Sample 400 reviews for each star rating
balanced_reviews = []

for star in range(1, 6):  # 1 to 5 stars
    star_reviews = philly_restaurant_reviews[philly_restaurant_reviews['stars'] == star]
    
    # Check if we have at least 400 reviews for this star rating
    if len(star_reviews) >= 400:
        sampled_reviews = star_reviews.sample(n=400, random_state=42)  # For reproducibility
    else:
        # If less than 400 reviews, take all available and warn
        sampled_reviews = star_reviews
        print(f"Warning: Only {len(star_reviews)} reviews available for {star} star rating.")
    
    balanced_reviews.append(sampled_reviews)

# Combine all sampled reviews into a single DataFrame
balanced_reviews_df = pd.concat(balanced_reviews, ignore_index=True)

# Verify the distribution in the new DataFrame
balanced_distribution = balanced_reviews_df['stars'].value_counts().sort_index()
print("\nBalanced star rating distribution:")
print(balanced_distribution)

# Total number of reviews in the balanced dataset
print(f"\nTotal reviews in balanced dataset: {len(balanced_reviews_df)}")

Balanced star rating distribution:
stars
1.0    400
2.0    400
3.0    400
4.0    400
5.0    400
Name: count, dtype: int64

Total reviews in balanced dataset: 2000

In [25]:
balanced_reviews_df.to_pickle('balanced_philly_resto_reviews.pkl')